
body {
  background-color: #282c34;
  color: white;
  font-size: 24pt;
  padding: 3rem;
}

.button {
  background-color: #61DAFB;
  //background-color: rgba(97, 218, 251, 0.5);
  color: #333;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 3px;
  padding: 0.4em 1em;
  transition: background-color 100ms, border-color 100ms;

  &:hover {
    cursor: pointer;
    border: 0.15em solid #458398;
    margin: -0.15em;
  }
  &:active {
    background-color: hsl(193, 95%, 58%);
    border-color: hsl(195, 38%, 43%);
  }
}

.clickable {
  cursor: pointer;
  transition: transform 100ms;
  transform: scale(1.0);
  &:hover {
    transform: scale(1.15);
  }

  &.emoji {
    font-size: 1.25em;
    padding: 0 0.25em;
  }
  &.emoji:hover {
    transform: scale(1.25);
  }
}

.title {
  margin-bottom: 0.4em;
}

.starting-sr {
  font-size: 0.75em;
  margin-bottom: 1.5em;
}

.small {
  font-size: 0.5em;
  color: #fff;
}

h1.win-loss {
  margin-bottom: 0;

  span.ties {
    font-size: 0.5em;
  }
}

h3.sr {
  color: #c213f4;
  font-size: 0.8em;
  margin-top: 0;
}

table {
  font-size: 0.5em;

  input[type=number] {
    width: 50px;
  }

  th {
    padding-right: 2em;
  }
}

.App {
  text-align: left;
}

.App-link {
  color: #61dafb;
}
